*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0 auto;
    max-width: 1024px;
}

table{
    border: 1px solid #c9c9c9;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 1px solid #c9c9c9;
    text-align: left;
    padding: 10px;
    width: 33.33%;
}